:root {
  --primary-color: #000000;
  --secondary-color: #323232;
  --tertairy-color: #ff1e56;
  --quaternary-color: #ffac41;
}


body {
  text-align: center;
  background-color: var(--primary-color);
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: var(--tertairy-color);
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.backbtn {
  position: absolute;
  top: 50vh;
  left: 5rem;
  color: var(--tertairy-color);
  transition: transform .3s;
}

.backbtn:hover {
  transform: scale(1.2);
}